@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --commonsbooking-map-marker-default-embed-fill: var(
      --commonsbooking-color-buttons,
      hsl(160 60% 80%)
    );
    --commonsbooking-map-marker-user-embed-fill: var(
      --commonsbooking-color-secondary,
      hsl(240 60% 80%)
    );
    --commonsbooking-map-marker-cluster-embed-fill: var(
      --commonsbooking-color-buttons,
      hsl(90 60% 80%)
    );
    --commonsbooking-map-marker-default-embed-label-stroke: hsl(90 60% 20%);
  }

  .cb-app * {
    box-sizing: border-box;
  }
}

@layer utilities {
  .tw-cb-flex-center {
    @apply tw-flex
        tw-items-center
        tw-justify-center;
  }

  .cb-pattern-lines {
    background-image: repeating-linear-gradient(
      -45deg,
      transparent,
      transparent 0.25em,
      rgba(0, 0, 0, 0.1) 0.25em,
      rgba(0, 0, 0, 0.1) 0.35em
    );
  }

  .cb-pattern-cross {
    background-image: repeating-linear-gradient(
        -45deg,
        transparent,
        transparent 0.25em,
        rgba(0, 0, 0, 0.1) 0.25em,
        rgba(0, 0, 0, 0.1) 0.35em
      ),
      repeating-linear-gradient(
        45deg,
        transparent,
        transparent 0.25em,
        rgba(0, 0, 0, 0.1) 0.25em,
        rgba(0, 0, 0, 0.1) 0.35em
      );
  }

  .cb-grid-cover {
    grid-area: 1 / 1;
  }

  .cb-text-wrap-balance {
    text-wrap: balance;
  }
}

@layer components {
  .cb-btn {
    @apply tw-flex
        tw-items-center
        tw-justify-center
        tw-gap-1
        tw-px-4 tw-py-2
        tw-border-0
        tw-flex-none
        tw-rounded
        tw-cursor-pointer
        hover:tw-brightness-95
        focus-visible:tw-ring-2
        tw-ring-black
        tw-select-none
        tw-text-base
        tw-font-[inherit]
        tw-transition;
  }

  .cb-input {
    @apply tw-rounded
        tw-max-w-full
        tw-border-0
        tw-text-base
        tw-font-[inherit]
        tw-px-4 tw-py-2;
  }

  .cb-input-date {
    @apply tw-border
        tw-border-solid
        tw-border-gray-200
        tw-w-full;
  }
}

.cb-animate-list-move,
.cb-animate-list-enter-active,
.cb-animate-list-leave-active,
.cb-animate-panel-move,
.cb-animate-panel-enter-active,
.cb-animate-panel-leave-active {
  transition: 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: opacity, transform;
}

.cb-animate-list-enter-from,
.cb-animate-list-leave-to {
  opacity: 0;
  transform-origin: 50% 0;
}

.cb-animate-list-leave-active {
  position: absolute;
  z-index: 0;
}

.cb-animate-panel-enter-from,
.cb-animate-panel-leave-to {
  opacity: 0;
  @apply tw-translate-y-2;
}

@media (prefers-reduced-motion) {
  .cb-animate-list-move,
  .cb-animate-list-enter-active,
  .cb-animate-list-leave-active {
    transition-duration: 0s;
  }
}
