@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --cb-map-marker-default-embed-fill: hsl(160 60% 80%);
    --cb-map-marker-user-embed-fill: hsl(240 60% 80%);
    --cb-map-marker-cluster-embed-fill: hsl(90 60% 80%);
    --cb-map-marker-default-embed-label-stroke: hsl(90 60% 20%);
    --cb-layer-base-0-color: #fff;
    --cb-layer-base-1-color: theme('colors.gray.100');
    --cb-layer-base-2-color: theme('colors.gray.200');
    --cb-layer-base-3-color: theme('colors.gray.200');
    --cb-layer-active-color: var(--commonsbooking-color-buttons, theme('colors.teal.300'));
  }

  .cb-app *:not([class*='leaflet']) {
    box-sizing: border-box;
    border-width: 0;
    border-style: solid;
    border-color: transparent;
    min-height: 0;
  }
}

@layer utilities {
  .tw-cb-flex-center {
    @apply tw-flex
        tw-items-center
        tw-justify-center;
  }

  .cb-grid-cover {
    grid-area: 1 / 1;
  }

  .cb-text-wrap-balance {
    text-wrap: balance;
  }
}

@layer components {
  .cb-app .cb-btn {
    @apply tw-flex
        tw-items-center
        tw-justify-center
        tw-gap-1
        tw-px-4 tw-py-2
        tw-border-0
        tw-flex-none
        tw-rounded
        tw-cursor-pointer
        hover:tw-brightness-95
        focus-visible:tw-ring-2
        tw-ring-black
        tw-select-none
        tw-text-base
        tw-font-[inherit]
        tw-bg-transparent
        tw-text-inherit
        tw-no-underline
        tw-transition;
  }

  .cb-app .cb-input {
    @apply tw-rounded
        tw-max-w-full
        tw-border-0
        tw-text-base
        tw-font-[inherit]
        tw-px-4 tw-py-2;
  }

  .cb-app .cb-input-date {
    @apply tw-border
        tw-border-solid
        tw-border-base-2
        tw-leading-none
        tw-w-full;
  }
}

.cb-animate-list-move,
.cb-animate-list-enter-active,
.cb-animate-list-leave-active,
.cb-animate-panel-move,
.cb-animate-panel-enter-active,
.cb-animate-panel-leave-active {
  transition: 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: opacity, transform;
}

.cb-animate-list-enter-from,
.cb-animate-list-leave-to {
  opacity: 0;
  transform-origin: 50% 0;
}

.cb-animate-list-leave-active {
  position: absolute;
  z-index: 0;
}

.cb-animate-panel-enter-from,
.cb-animate-panel-leave-to {
  opacity: 0;
  @apply tw-translate-y-2;
}

@media (prefers-reduced-motion) {
  .cb-animate-list-move,
  .cb-animate-list-enter-active,
  .cb-animate-list-leave-active {
    transition-duration: 0s;
  }
}
